<header>
  <nav>
    <ul>
      <li><a class="ijwt_url_resolve" href="/pages/home.html">Home</a></li>
      <li><a class="ijwt_url_resolve" href="/pages/image.html">Image</a></li>
      <li>
        <a class="ijwt_url_resolve" href="/pages/scopes.html">Scopes</a>
      </li>
      <li>
        <a class="ijwt_url_resolve" href="/pages/properties.html">Properties</a>
      </li>
      <li>
        <a class="ijwt_url_resolve" href="/pages/strings.html">Strings</a>
      </li>
    </ul>
  </nav>
</header>
<script
  class="ijwt_remove"
  src="/static/scripts/ijwt.js"
  type="module"
></script>
