#scratch-image {
  background-image: url("../images/scratch.png");
}

#python-image {
  background-image: url("../images/python.png");
}

#web-design-image {
  background-image: url("../images/web.png");
}
