#scratch-image1 {
  background-image: url("../images/scratch-intro.webp");
}
#scratch-image2 {
  background-image: url("../images/more-scratch.webp");
}
#scratch-image3 {
  background-image: url("../images/further-scratch.webp");
}
