<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Neo's Webpage</title>
  </head>
  <body>
    <div class="container">
      <h1>Home</h1>
      {% for val in data %}
      <li>{{ val }}</li>
      {% endfor %}
    </div>
  </body>
</html>
