@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  margin: 0px;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  height: 3em;
  background: #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1em;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  transition: 0.2s all;
}
header nav ul li a:hover {
  color: red;
}

footer {
  margin-top: auto;
}

main {
  width: 100%;
  padding: 1em;
  max-width: 55em;
  margin-top: 2.4em;
}

footer > * > a {
  transition: 0.2s all;
  color: teal;
}
footer > * > a:hover {
  color: red;
}

code {
  border-radius: 0.2em;
  -webkit-box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, 0.52);
  overflow: auto;
}
pre {
  margin: 0.2em 1em 1em 1em;
}
 <code id="htmlViewer" style="color:rgb(235, 219, 178); font-weight:400;background-color:rgb(40, 40, 40);background:rgb(40, 40, 40);display:block;padding: .5em;">0
0</code></pre>
