@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  background-color: #121212;
  color: white;
  font-size: 1em;
}
img {
  float: left;
}
.rightAlign {
  float: right;
}
#wrapper {
  min-width: 600px;
  max-width: 1000px;
  margin: auto;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 2em;
}
header a {
  text-decoration: none;
}
.noAlign {
  float: none;
  clear: both;
}

.body {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 1em 1em;
  color: black !important;
}
.body h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.body ul {
  list-style-type: square;
  margin: 0px;
}

.text,
.titles {
  font-style: normal;
  color: black;
}

.text {
  font-weight: 400;
}

.title {
  font-weight: 700;
  font-size: 1.9em;
}

.highlight {
  display: inline-block;
  position: relative;
}

.highlight::after {
  content: "";
  bottom: 0px;
  left: 0px;
  position: absolute;
  height: 0.12em;
  width: 100%;
  background-color: red;
  animation: ease-in-out 0.7s underliner;
}

.code {
  background-color: #1b1b1b;
  color: white;
  font-weight: 700;
  padding: 0.1em 0.2em;
}

@keyframes underliner {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.profile-image {
  display: inline-block;
  height: 2em;
  width: 2em;
  background-image: url("../images/cute-bunnies-tongues-2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-left: 0.3em;
}

.body footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
}

#main {
  display: flex;
  flex-direction: column;
}
