* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  color: white;
}

main {
  max-width: 760px;
  border-radius: 1em;
}

header {
  width: 100%;
  height: auto;
  background: red;
  text-align: center;
  padding: 1em;
  border-radius: 1em 1em 0 0;
}

article {
  float: left;
  width: 100%;
  min-height: 400px;
  padding: 1em 0 0 1em;
  background: #323232;
}

footer {
  width: 100%;
  background: #26a71d;
  text-align: center;
  color: orange;
  padding: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 0 0 1em 1em;
}

label {
  display: inline-block;
  width: 200px;
  padding-left: 20px;
}
