body {
}

label {
    display: inline-block;
    /* width: 130px; */
}
input {
    margin: 0px 0px 20px 0px;
}
form {
    margin-left: 12em;
    padding-left: 1em;
    border-left: 0.2em solid green;
    font-size: 12px;
}
h2 {
    background-color: #00ddff;
    color: white;
}
#names label{
    width: 160px;
}
#address label{
    width: 100px;
}
#address input {
    margin: 0px 0px 20px -0px;
}
#nonPostal label {
    width: 100px;
}
#contactPreferences input {
    margin: 4px;
}
#commentsTextArea {
    width: 500px;
    height: 125px;
}
#submitButtonContainer input{
    margin: 0px;
}
#submitButtonContainer {
    width: 100%;
    height: min-content;
    background-color: #2afa88;
    /* display: flex; */
    /* justify-content: space-evenly; */
}

