* {box-sizing: border-box;}

body { 
    font-family: Verdana, sans-serif;
	text-align: center; background: cyan 
}

main { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	max-width: 800px;
    width: 800px;
    margin: 0 auto 0 auto; text-align: left; background: ivory; border: 2px orange double 
}

.mySlides {display: none; text-align: center}

img {vertical-align: middle; margin-left: 20px}

/* Slideshow container */
.slideshow-container, #theDots, .text {
	max-width: 500px;
	position: relative;
	margin: auto;
	text-align: center;
}

/* Caption text */
.text {
	color: #111111;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 120px;
	margin-left: 150px;
	text-align: center;
	border: 2px solid red;
	background-color: #dddddd
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	margin-left: 60px;
}

/* The dots/bullets/indicators */
.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	width: 400px;
	margin-left: 30px;
	text-align: center
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.text {font-size: 11px}
}
			
#theDots {
	width: 650px;
	text-align:center;
}

#firstHeading {text-align: center}
