/* @import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Mountains+of+Christmas:wght@400;700&family=Roboto&display=swap');

@media only screen and (max-width: 890px) {
    nav {
        top: 100% !important;
        position: fixed;
        width: 100% !important;
        right: 0px !important;
        padding: 0px !important;
        transform: translate(-0%, -100%) !important;
        /* background-color: orange !important; */
        border-top: 1px solid black;
        border-radius: 0px !important;
    }
    nav ul{
        flex-direction: row !important;
        justify-content: space-evenly !important;
    }
    nav ul li {
        /* margin: 0.9rem 2rem !important; */
    }
}
* {
    margin: 0px;
    --chirstmas-font: 'Mountains of Christmas', serif;
    --normal-font: 'Roboto', sans-serif;
}
html[data-theme="light"] {
    --background: rgb(218,0,15);
    --background: linear-gradient(180deg, #E40000 0%, #FF0000 50%, #D20000 100%);
    --color-white: white;
    --color-black: black;
    --color-green: #09BE10;
    --color-dark-green: #042e03;
    --color-red: #690505;
    --color-dark-red: #260303;
    --color-light-red: #de2f2f;
    --color-blue: #1096de;
}
body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
main {
    /* min-height: 100%; */
    padding-bottom: 5rem;
    /* background-color: transparent; */

    background: var(--background);
}
footer {
    min-height: 6rem;
    max-height: 6rem; 
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: var(--color-white);
    font-family: var(--normal-font);
}
nav {
    width: 3.8rem;
    /* height: 20.98rem; */
    padding: 0.4rem 0;
    border-radius: 9.25rem;
    background: var(--color-white);
    position: fixed;
    right: 2rem;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 9px 7px 7.3px 3px rgba(0, 0, 0, 0.25);
    z-index: 999;
}
nav ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
nav ul li {
    margin: 0.97rem 0px;
}
nav ul li a svg {
    transition: 0.07s ease-in-out;
    cursor: pointer;
}
nav ul li a:hover svg {
    filter: invert(41%) sepia(98%) saturate(914%) hue-rotate(87deg) brightness(102%) contrast(96%);
    transform: scale(1.1) rotate(5deg);
}
.title {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
    vertical-align: middle; 
    color: var(--color-white);
    font-family: Marck Script;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: url('../static/CABannerImage1.webp');
    background-size: cover;
}
.title::after {
    content: '';
    display: block;
    width: 100%;
    height: 5rem;
    position: absolute;
    margin-top: -3rem;
    backdrop-filter: blur(0.01rem);
    background: rgb(194,30,2);
    background: linear-gradient(180deg, rgba(194,30,2,0.0) 0%, rgba(194,30,2,1) 80%, rgba(228,0,0,1) 100%);
}
#container {
    display: flex;
    flex-direction: row;
    padding: 2rem 1rem 0 1rem;
}
.hide-a {
    text-decoration: none;
    color: inherit;
}
